In [ ]:
from google.colab import drive
import os
drive.mount('/content/gdrive')
os.chdir("gdrive/MyDrive/Yin/landscape")

Mounted at /content/gdrive

In [ ]:
#!pip install geopy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopy in /usr/local/lib/python3.8/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.8/dist-packages (from geopy) (1.52)

In [ ]:
import pandas as pd

df = pd.read_csv("forest_landscape_restoration_country1.csv")
print(df.count())

id                                 29772
conversation_id                    29772
referenced_tweets.replied_to.id      575
referenced_tweets.retweeted.id     21717
referenced_tweets.quoted.id          433
                                   ...
geo.name                             184
geo.place_id                         184
geo.place_type                       184
year_month                         29772
country                            15735
Length: 67, dtype: int64

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (29,31,32,33,39,54,55) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df1 = df[~df.country.isna()]
print(df1.count())

id                                 15735
conversation_id                    15735
referenced_tweets.replied_to.id      295
referenced_tweets.retweeted.id     11521
referenced_tweets.quoted.id          233
                                   ...
geo.name                              84
geo.place_id                          84
geo.place_type                        84
year_month                         15735
country                            15735
Length: 67, dtype: int64

In [ ]:
df2 = df[df.country.isna()]
# print(df2.count())
print(df2['author.location'])

0                            Wonderland
4                               Nairobi
5                               Toronto
12                      Forest Park, GA
14                     Ciudad de México
                      ...
29765    Μουσείο Φυσικής Ιστορίας Κρήτη
29766                            Global
29768                         Worldwide
29770                            Global
29771                       Redneckland
Name: author.location, Length: 14037, dtype: object

In [ ]:
import numpy as np
df['author.location'].replace('', np.nan, inplace=True)
df.dropna(subset=['author.location'], inplace=True)
df.head()
print(df.count())

id                                 180723
conversation_id                    180723
referenced_tweets.replied_to.id      6663
referenced_tweets.retweeted.id     136286
referenced_tweets.quoted.id          3152
                                    ...
geo.geo.type                         1391
geo.id                               1391
geo.name                             1391
geo.place_id                         1393
geo.place_type                       1391
Length: 65, dtype: int64

In [ ]:
df['year_month'] = df['created_at'].apply(getYearMonth)
print(df.head())

                    id      conversation_id  referenced_tweets.replied_to.id  \
0  1609299734761713664  1609299734761713664                              NaN
2  1609293483000451074  1609126127032836097                     1.609126e+18
3  1609292382624952321  1609292382624952321                              NaN
4  1609256462861336579  1609234286938292224                     1.609234e+18
6  1609251325111595009  1609251325111595009                              NaN

   referenced_tweets.retweeted.id  referenced_tweets.quoted.id  \
0                    1.609126e+18                          NaN
2                             NaN                          NaN
3                    1.598132e+18                          NaN
4                             NaN                          NaN
6                    1.609201e+18                          NaN

            author_id  in_reply_to_user_id in_reply_to_username  \
0           629689228                  NaN                  NaN
2  862314906544218114         7.535871e+17         JMBecologist
3            18474950                  NaN                  NaN
4           297689253         2.562182e+08           PeteBoyle5
6           452036595                  NaN                  NaN

   retweeted_user_id retweeted_username  ...  geo.country geo.country_code  \
0       7.535871e+17       JMBecologist  ...          NaN              NaN
2                NaN                NaN  ...          NaN              NaN
3       1.413577e+18      BarnardPhoebe  ...          NaN              NaN
4                NaN                NaN  ...          NaN              NaN
6       2.290390e+08        maldivianrc  ...          NaN              NaN

  geo.full_name geo.geo.bbox geo.geo.type  geo.id  geo.name  geo.place_id  \
0           NaN          NaN          NaN     NaN       NaN           NaN
2           NaN          NaN          NaN     NaN       NaN           NaN
3           NaN          NaN          NaN     NaN       NaN           NaN
4           NaN          NaN          NaN     NaN       NaN           NaN
6           NaN          NaN          NaN     NaN       NaN           NaN

   geo.place_type  year_month
0             NaN     2022-12
2             NaN     2022-12
3             NaN     2022-12
4             NaN     2022-12
6             NaN     2022-12

[5 rows x 66 columns]

In [ ]:
def getCountries():
  mCountries = []
  mFile = open("code/countries.txt","r")
  for ele in mFile:
    data = ele.rstrip().lower()
    mCountries.append(data)
  return mCountries


print(getCountries())

['afghanistan', 'albania', 'algeria', 'andorra', 'angola', 'antigua and deps', 'antigua and barbuda', 'argentina', 'armenia', 'australia', 'austria', 'azerbaijan', 'bahamas', 'bahrain', 'bangladesh', 'barbados', 'belarus', 'belgium', 'belize', 'benin', 'bhutan', 'bolivia', 'bosnia herzegovina', 'botswana', 'brazil', 'brunei', 'bulgaria', 'burkina', 'burundi', 'cambodia', 'cameroon', 'canada', 'cape verde', 'central african republic', 'chad', 'chile', 'china', 'colombia', 'comoros', 'congo', 'democratic republic of congo', 'costa rica', 'croatia', 'cuba', 'cyprus', 'czech republic', 'denmark', 'djibouti', 'dominica', 'dominican republic', 'east timor', 'ecuador', 'egypt', 'el salvador', 'equatorial guinea', 'eritrea', 'estonia', 'ethiopia', 'fiji', 'finland', 'france', 'gabon', 'gambia', 'georgia', 'germany', 'ghana', 'greece', 'grenada', 'guatemala', 'guinea', 'guinea-bissau', 'guyana', 'haiti', 'honduras', 'hungary', 'iceland', 'india', 'indonesia', 'iran', 'iraq', 'ireland', 'israel', 'italy', 'ivory coast', 'jamaica', 'japan', 'jordan', 'kazakhstan', 'kenya', 'kiribati', 'korea north', 'korea south', 'kosovo', 'kuwait', 'kyrgyzstan', 'laos', 'latvia', 'lebanon', 'lesotho', 'liberia', 'libya', 'liechtenstein', 'lithuania', 'luxembourg', 'macedonia', 'madagascar', 'malawi', 'malaysia', 'maldives', 'mali', 'malta', 'marshall islands', 'mauritania', 'mauritius', 'mexico', 'micronesia', 'moldova', 'monaco', 'mongolia', 'montenegro', 'morocco', 'mozambique', 'myanmar', 'namibia', 'nauru', 'nepal', 'netherlands', 'new zealand', 'nicaragua', 'niger', 'nigeria', 'norway', 'oman', 'pakistan', 'palau', 'panama', 'papua new guinea', 'paraguay', 'peru', 'philippines', 'poland', 'portugal', 'qatar', 'romania', 'russian federation', 'rwanda', 'st kitts and nevis', 'st lucia', 'saint vincent and the grenadines', 'samoa', 'san marino', 'sao tome and principe', 'saudi arabia', 'senegal', 'serbia', 'seychelles', 'sierra leone', 'singapore', 'slovakia', 'slovenia', 'solomon islands', 'somalia', 'south africa', 'south sudan', 'spain', 'sri lanka', 'sudan', 'suriname', 'swaziland', 'sweden', 'switzerland', 'syria', 'taiwan', 'tajikistan', 'tanzania', 'thailand', 'togo', 'tonga', 'trinidad and tobago', 'tunisia', 'turkey', 'turkmenistan', 'tuvalu', 'uganda', 'ukraine', 'united arab emirates', 'united kingdom', 'united states', 'uruguay', 'uzbekistan', 'vanuatu', 'vatican city', 'venezuela', 'vietnam', 'yemen', 'zambia', 'zimbabwe', 'usa', 'u.k.', 'u.k', 'u.s.a.', 'england']

In [ ]:
import numpy as np
def getCountry1(x):
  countries = getCountries()
  mX = x.replace("MÃ©xico", "Mexico").replace("MoÃ§ambique","Mozambique").replace("PanamÃ¡","Panama").replace("EspaÃ±a","Spain")
  mCountry = np.nan
  for ele in countries:
    if ele in mX.lower():
      mCountry = ele
      break
  return mCountry

In [ ]:
df['country'] = df['author.location'].apply(getCountry1)
print(df.head())
print(df.count())

                    id      conversation_id  referenced_tweets.replied_to.id  \
0  1609299734761713664  1609299734761713664                              NaN
2  1609293483000451074  1609126127032836097                     1.609126e+18
3  1609292382624952321  1609292382624952321                              NaN
4  1609256462861336579  1609234286938292224                     1.609234e+18
6  1609251325111595009  1609251325111595009                              NaN

   referenced_tweets.retweeted.id  referenced_tweets.quoted.id  \
0                    1.609126e+18                          NaN
2                             NaN                          NaN
3                    1.598132e+18                          NaN
4                             NaN                          NaN
6                    1.609201e+18                          NaN

            author_id  in_reply_to_user_id in_reply_to_username  \
0           629689228                  NaN                  NaN
2  862314906544218114         7.535871e+17         JMBecologist
3            18474950                  NaN                  NaN
4           297689253         2.562182e+08           PeteBoyle5
6           452036595                  NaN                  NaN

   retweeted_user_id retweeted_username  ...  geo.country_code geo.full_name  \
0       7.535871e+17       JMBecologist  ...               NaN           NaN
2                NaN                NaN  ...               NaN           NaN
3       1.413577e+18      BarnardPhoebe  ...               NaN           NaN
4                NaN                NaN  ...               NaN           NaN
6       2.290390e+08        maldivianrc  ...               NaN           NaN

  geo.geo.bbox geo.geo.type geo.id  geo.name  geo.place_id  geo.place_type  \
0          NaN          NaN    NaN       NaN           NaN             NaN
2          NaN          NaN    NaN       NaN           NaN             NaN
3          NaN          NaN    NaN       NaN           NaN             NaN
4          NaN          NaN    NaN       NaN           NaN             NaN
6          NaN          NaN    NaN       NaN           NaN             NaN

   year_month    country
0     2022-12  australia
2     2022-12        NaN
3     2022-12        NaN
4     2022-12        NaN
6     2022-12   maldives

[5 rows x 67 columns]
id                                 180723
conversation_id                    180723
referenced_tweets.replied_to.id      6663
referenced_tweets.retweeted.id     136286
referenced_tweets.quoted.id          3152
                                    ...
geo.name                             1391
geo.place_id                         1393
geo.place_type                       1391
year_month                         180723
country                             88122
Length: 67, dtype: int64

In [ ]:
df.to_csv("ecosystem_restoration_country1.csv", index=False)

In [ ]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import numpy as np
def getCountry(x):
    geolocator = Nominatim(user_agent="geoapiExercises")
    # loc = RateLimiter(geolocator.geocode(x, language='en'), min_delay_seconds=2)
    loc = geolocator.geocode(x, language='en', exactly_one=True, timeout=60)
    if loc is not None:
      data = loc.address.split(',')
      return (data[-1])
    else:
      np.nan

In [ ]:
df['country'] = df['author.location'].apply(getCountry)

In [ ]:
from geopy.geocoders import Nominatim
import numpy as np

geolocator = Nominatim(user_agent="geoapiExercises")
loc = geolocator.geocode('Redneckland', language='en')
data = loc.address.split(',')
print(data[-1])

In [ ]:
print(df['author.location'])

0                 Wonderland
4                  Venezuela
5                    Somalia
6                  Australia
7                    Nairobi
                ...
36473     Gland, Switzerland
36476              Worldwide
36477    Montpellier, France
36479                 Global
36480            Redneckland
Name: author.location, Length: 29772, dtype: object

In [ ]:
df.to_csv("forest_landscape_restoration_country1.csv", index=False)

In [ ]:
df.dropna(subset=['country'], inplace=True)
df.head()
print(df.count())

id                                 15735
conversation_id                    15735
referenced_tweets.replied_to.id      295
referenced_tweets.retweeted.id     11521
referenced_tweets.quoted.id          233
                                   ...
geo.id                                84
geo.name                              84
geo.place_id                          84
geo.place_type                        84
country                            15735
Length: 66, dtype: int64

In [ ]:
df.to_csv("forest_landscape_restoration_country1.csv", index=False)